{% extends 'base.html' %}
{% load static %}
{% block main_content %}
    
      <!-- profile details section -->
      <section id="recipe-details">
        <h1>Profile Details</h1>
        <div class="info-section">
          <div class="recipe-header">
            <!-- default profile image -->
            <!-- if the user is not a chef - a default image - no_chef_img.png -->
            <!-- if the user is a chef - a default image - chef_img.png -->

            <img
              class="recipe-img"
              src="{% static '/images/chef_img.png'%}"
              alt="profile-image"
            />

            <!-- profile full name -->
            <h1>{{ object.full_name }}</h1>

            <!-- profile nickname -->
            <p class="description">Nickname: {{ object.nickname }}</p>

            <!-- profile bio -->
            <!-- if no profile bio - display 'N/A' -->

            <p class="description">Bio: {{ object.bio }}</p>

            <!-- total number of published recipes -->
            <p class="description">Published recipes: {{ total_recipes }}</p>

            <!-- Edit/Delete buttons -->
            <div class="buttons">
              <a href="{% url 'edit_profile' %}" class="edit-button">Edit</a>
              <a href="{% url 'delete_profile' %}" class="delete-button">Delete</a>
            </div>
          </div>
        </div>
      </section>
{% endblock %}